# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.pcm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Scons
*.sconsign.dblite


#debug configs
*_out.xml

#data
*.root
bin/log

src/CintFunctionLibraryDictionary.cppsandbox/
sandbox
src/CintFunctionLibraryDictionary.cpp
*.pdf
*.list
bin/*.lis
bin/list
*.json
bin/lists
*.log
bin/old
